
body{
	font-family:arial;
	font-size:15px;
	line-height: 1.6em;
	background:#f4f4f4;
}

li{
	list-style:none;
}

.container{
	width:70%;
	margin: 20px auto;
	overflow:auto;
}

.pull-left{float:left;}
.pull-right{float:right;}

input {
    width: 100px;
    height: 75px;
    font-size: 55px;
    border-radius: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-style: none;
}

input[name='display'] {
    width: 470px;
    height: 100px;
    text-align: center;
    background-color: #1f80c9;
}

input[value='+'] {
    background-color: #cc5c11;
}

input[value='-'] {
    background-color: #ba55d3;
}

input[value='x'] {
    background-color: #7db1b2;
}

input[value='C'] {
    background-color: #cc0000;
}

input[value='÷'] {
    background-color: #2BBC3A;
}

#myform {
    margin-left: 225px;
    margin-top: 20px;
    border: medium solid purple;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-right: 150px;
    margin-top: 20px;
}

#timer1{
	background:#DF7401;
	color:#FF0040;
	padding:1px 2px;
	overflow:auto;
	font-size:15px;
}

header{
	background:#1f88f4;
	color:#ffffff;
	padding:5px 10px;
	overflow:auto;
	font-size:16px;
}

footer{
	background:#1f88f4;
	color:#ffffff;
	padding:5px 10px;
	overflow:auto;
}

@media only screen and (max-width: 900px){
	.container{
		width:95%;
	}
}
