<h1>Angular interview</h1>

<div *ngIf="article; else loading">{{ article.title }}</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>


<ng-container *ngIf="numbers">
  <ng-container *ngFor="let number of numbers">
    {{ number }}
  </ng-container>
</ng-container>


<app-child>
  <div>James</div>
</app-child>


<ng-container *ngTemplateOutlet="articleTemplate; context: {article}">
</ng-container>

<ng-template #loadingTemplate>
  <div>Loading...</div>
</ng-template>

<ng-template #articleTemplate let-article="article">
  <div>{{ article.title }}</div>
</ng-template>




<router-outlet></router-outlet>
