<div class="top-menu">

  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses" #container>

  <app-course-card *ngFor="let course of courses; index as i;" #cardRef (courseSelected)="onCourseSelected($event)"
    [course]="course" [cardIndex]="i + 1">
    <!-- <div class="course-image" #courseImage>
      <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    </div> -->
    <app-course-image [course]="course"></app-course-image>

    <div class="course-description">
      {{ course.longDescription }}









    </div>

  </app-course-card>


</div>
