
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Todo</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/navbar-static-top.css" rel="stylesheet">
    </head>
    <body>
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.png" alt="SkillBakery">
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" id="todoapp">
                <h1>Todo List</h1>
                 <div class="form-group">
                    <label>What do you want to do ?</label>
                    <input type="text" class="form-control" id="new-todo">
                </div>
                 <div class="form-group" id="main">
                    <ul class="list-group" id="todo-list">
                      
                    </ul>
               </div>
                 <div class="form-group">
                    <a href="#/">All</a> |
                    <a href="#/pending">Pending</a> |
                    <a href="#/completed">Completed</a>
                </div>      
            </div>

        </div> <!-- /container -->
        <!-- Templates -->
          <script type="text/template" id="item-template">
            <div class="form-group">
              <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
              <label class="<%= completed ? 'line-through' : '' %>"><%- title %></label>
              <input class="edit" value="<%- title %>">
              <i class="destroy fa fa-trash-o"></i>
            </div>
          </script>  
        <!-- Template Ends -->
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/underscore.js"></script>
         <script src="js/backbone-min.js" type="text/javascript"></script>
        <script src="js/backbone.localStorage-min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>