
<div class="row">
	<div class="col-3">
		<div class="list-group">
			<a *ngFor="let category of categories$ | async" 
				[routerLink]="['/']"
				[queryParams]="{ category: category.$key }"
				class="list-group-item list-group-item-action"
				[class.active]="categoryBtn === category.$key">
				{{ category.name }}
			</a>
		</div>
	</div>
	<div class="col-9">
		<div class="row">
			<ng-container *ngFor="let product of filteredProducts; let i = index">
				<div class="col">
					<div class="card" style="width: 15rem;">
					  <img [src]="product.imageUrl" class="card-img-top" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">{{ product.title }}</h5>
					    <p class="card-text">{{ product.price | currency:'USD':true }}</p>
					    <a href="#" class="btn btn-primary">Add to Cart</a>
					  </div>
					</div>
				</div>
				<div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
			</ng-container>
		</div>
	</div>
</div>

