<html>
	<head>
		<title>Section 5, my project</title>
	</head>
	<body>

		<script id="book-template" type="text/template">
			<table>
			<tr>
				<td>
					Title:
				</td>
				<td>
					<%= book.name %>
				</td>
			</tr>
			<tr>
				<td>
					Author:
				</td>
				<td>
					<%= book.author %>
				</td>
			</tr>
			</table>
			<button type='button' name="button" id="previous">Previous</button>
			<button type='button' name="button" id="next">Next</button>
		</script>



		<div id="book-view">

		</div>

		<script src="jquery-2.1.4.min.js"></script>
		<script src="underscore-min.js"></script>
		<script src="backbone-min.js"></script>
		<script src="app_underscore.js"></script>
	</body>
</html>