<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QA_Pro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterMember</display-name>
    <servlet-name>RegisterMember</servlet-name>
    <servlet-class>com.qapro.register.RegisterMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMember</servlet-name>
    <url-pattern>/RegisterMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitializerServlet</display-name>
    <servlet-name>InitializerServlet</servlet-name>
    <servlet-class>com.qapro.util.InitializerServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializerServlet</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidation</display-name>
    <servlet-name>EmailValidation</servlet-name>
    <servlet-class>com.qapro.register.EmailValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidation</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>com.qapro.login.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMembers</display-name>
    <servlet-name>GetMembers</servlet-name>
    <servlet-class>com.qapro.login.GetMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMembers</servlet-name>
    <url-pattern>/GetMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberManagementServlet</display-name>
    <servlet-name>MemberManagementServlet</servlet-name>
    <servlet-class>com.qapro.servlets.MemberManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberManagementServlet</servlet-name>
    <url-pattern>/MemberManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayQuestion</display-name>
    <servlet-name>DisplayQuestion</servlet-name>
    <servlet-class>com.qapro.servlets.DisplayQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuestion</servlet-name>
    <url-pattern>/DisplayQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotingServlet</display-name>
    <servlet-name>VotingServlet</servlet-name>
    <servlet-class>com.qapro.servlets.VotingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingServlet</servlet-name>
    <url-pattern>/Voting</url-pattern>
  </servlet-mapping>
</web-app>