<div class="top-menu">

  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses" *ngIf="courses[0] as course">

  <app-course-card appHighlighted [isHighlighted]=true
          (courseSelected)="onCourseSelected($event)"
               [course]="course">

      <app-course-image [src]="course.iconUrl"></app-course-image>

      <div class="course-description">
          {{ course.longDescription }}
      </div>

  </app-course-card>


</div>
