
body{
	font-family:arial;
	font-size:15px;
	line-height: 1.6em;
	background:#f4f4f4;
    background-color: #58b1e7;
}

li{
	list-style:none;
}

.container{
	width:70%;
	margin: 20px auto;
	overflow:auto;
}

.pull-left{float:left;}
.pull-right{float:right;}

input {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    padding-left: 195px;
    font-size: 25px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    border-style: none;
}

#output {
    margin-top: 25px;
    width: 100px;
    background: lightgreen;
    margin-left: 200px;
}

#btn {
    width: 350px;
    height: 50px;
    color: #fff;
    background-color: blue;
    border-style: none;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 185px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-right: 150px;
    margin-top: 20px;
}


header{
	background:#1f88f4;
	color:#ffffff;
	padding:5px 10px;
	overflow:auto;
	font-size:16px;
}

footer{
	background:#1f88f4;
	color:#ffffff;
	padding:5px 10px;
	overflow:auto;
}

@media only screen and (max-width: 900px){
	.container{
		width:95%;
	}
}
